@model IEnumerable<WorkOrderApp.Models.WorkOrder>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="fw-bold justify-content-between align-items-center mb-4">
        <h2 class="fw-bold" stlye="color: var(--avc-green);">Work Orders</h2>
        <a class="btn btn-success" href="/WorkOrders/Create">New Work Order</a>
    </div>
    <div class="card shadow-sm">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assigned To</th>
                    <th></th>
                </tr>   
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            <span class="badge
                                        @(item.Status.ToString() == "Open" ? "bg-warning text-dark" :
                                          item.Status.ToString() == "In Progress" ? "bg-info text-dark" : "bg-success")">@item.Status</span>
                         </td>

                        <td>
                            <span class="badge
                                        @(item.Priority.ToString() == "High" ? "bg-danger" :
                                        item.Priority.ToString() == "Medium" ? "bg-primary" : "bg-secondary")">@item.Priority</span>
                        </td>

                        <td>@item.AssignedToUser?.Email</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="text-end">
                                <a class="btn btn-sm btn-outline-primary" href="/WorkOrders/Details/@item.Id">Details</a>
                                <a class="btn btn-sm btn-outline-secondary" href="/WorkOrders/Edit/@item.Id">Edit</a>
                                <a class="btn btn-sm btn-outline-danger" href="/WorkOrders/Delete/@item.Id">Delete</a>
                            </td>
                        }                  
                    </tr>
                  }

            </tbody>
        </table>
    </div>
</div>
